---

- name: Show donor instance info
  debug:
    var: donor_instance

- name: Create replacement instance
  delegate_to: localhost
  community.aws.ec2_instance:
    aws_access_key: "{{ ansible_env.AWS_ACCESS_KEY_ID | default(omit) }}"
    aws_secret_key: "{{ ansible_env.AWS_SECRET_ACCESS_KEY | default(omit) }}"
    #profile: "{{ inject.profile | default(omit) }}"
    region: "{{ ansible_env.AWS_DEFAULT_REGION | default(omit) }}"
    #availability_zone: '{{ donor_instance.placement.availability_zone }}'
    ebs_optimized: '{{ donor_instance.ebs_optimized }}'
    key_name: '{{ donor_instance.key_name }}'
    instance_type: '{{ donor_instance.instance_type }}'
    image_id: '{{ rhel_6_els_ami.image_id }}'
    wait: true
    name: "ELS replacement {{ donor_instance.instance_id }}"
    vpc_subnet_id: '{{ donor_instance.subnet_id }}'
    #group_id: '{{ donor_instance. }}'
    #instance_profile_name: '{{ donor_instance. }}'
    #instance_tags: '{{ donor_instance. }}'
    state: running
  register: replacement_instance

- name: Wait for replace instance to finish booting
  wait_for:
    timeout: 60
  delegate_to: localhost

- name: Refetch replacement instance info
  delegate_to: localhost
  community.aws.ec2_instance_info:
    instance_ids:
      - '{{ replacement_instance.instances[0].instance_id }}'
  register: replacement_instance

- name: Show replacement instance info again
  debug:
    var: replacement_instance

- name: Stop replacement instance
  delegate_to: localhost
  community.aws.ec2_instance:
    aws_access_key: "{{ ansible_env.AWS_ACCESS_KEY_ID | default(omit) }}"
    aws_secret_key: "{{ ansible_env.AWS_SECRET_ACCESS_KEY | default(omit) }}"
    #profile: "{{ inject.profile | default(omit) }}"
    region: "{{ ansible_env.AWS_DEFAULT_REGION | default(omit) }}"
    state: stopped
    instance_ids:
      - '{{ replacement_instance.instances[0].instance_id }}'

- name: Refetch replacement instance info
  delegate_to: localhost
  community.aws.ec2_instance_info:
    instance_ids:
      - '{{ replacement_instance.instances[0].instance_id }}'
  register: replacement_instance

- name: Show replacement instance info again
  debug:
    var: replacement_instance

- name: Detach root volume from replacement instance
  delegate_to: localhost
  amazon.aws.ec2_vol:
    id: '{{ replacement_instance.instances[0].block_device_mappings[0].ebs.volume_id }}'
    instance: None

- name: Delete root volume from replacement instance
  delegate_to: localhost
  amazon.aws.ec2_vol:
    id: '{{ replacement_instance.instances[0].block_device_mappings[0].ebs.volume_id }}'
    state: absent

- name: Initialize my_snaps
  delegate_to: localhost
  set_fact:
    my_snaps: []

- name: Initialize my_vols
  delegate_to: localhost
  set_fact:
    my_vols: []

- name: Create snapshots of the donor instance volumes
  include_tasks: snapshot_one.yml
  vars:
    block_device: '{{ block_device_index }}'
  loop: '{{ donor_instance.block_device_mappings }}'
  loop_control:
    loop_var: block_device_index

- name: Show my_snaps
  delegate_to: localhost
  debug:
    var: my_snaps

- name: Start replacement instance
  delegate_to: localhost
  community.aws.ec2_instance:
    aws_access_key: "{{ ansible_env.AWS_ACCESS_KEY_ID | default(omit) }}"
    aws_secret_key: "{{ ansible_env.AWS_SECRET_ACCESS_KEY | default(omit) }}"
    #profile: "{{ inject.profile | default(omit) }}"
    region: "{{ ansible_env.AWS_DEFAULT_REGION | default(omit) }}"
    state: running
    instance_ids:
      - '{{ replacement_instance.instances[0].instance_id }}'
